doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    h2 Choose an attribute
    - var attr = attributes
    div(class='explore_choices')
      each entry in attr
        button(class='button' type='button')= entry
