doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Explore cars by
    div(class='explore_choices')
      button(class='button' type='button') Make
      button(class='button' type='button') Attribute 
